<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_bodega"
                  name="Bodega"
                  sequence="1"/>
             
        <menuitem id="submenu_product"
                  name="Producto"
                  parent="menu_bodega"
                  sequence="1"/>

        <menuitem id="submenu_purchase_product"
                  name="Compra"
                  parent="submenu_product"
                  action="bodega.action_bodega_purchase_product"
                  sequence="1"/>

        <menuitem id="submenu_sale_product"
                  name="Venta"
                  parent="submenu_product"
                  action="bodega.action_bodega_sale_product"
                  sequence="2"/>

    </data>
</odoo>